#about {
    .about-chart {
        h3 {

            color: #212121;
            font-size: 22px;
            font-weight: 600;
            font-family: $rw;
            line-height: 1.1em;
            letter-spacing: 0.1em;
            margin-bottom: 20px;
        }
        p {
            font-family: $os;
            line-height: 1.8em;
            color: #797979;
        }
    }
    .about-me-subcribe {
        padding: 0 200px;
        position: relative;
        h1 {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            font-family: $rw;
            line-height: 1.1em;
            letter-spacing: 0;
        }
        p {
            font-size: 16px;
            font-family: $os;
            color: #fff;
        }
        form {
            input {
                width: 67%;
                color: #ccc;
                padding: 11px 20px;
                background-color: rgba(#fff, 0.1);
                border: 1px solid rgba(#fff, 0.5);
                @include border-radius(0);
                margin-right: 10px;
            }
            button {
                text-align: center;
                background-color: $teal;
                border: none;
                padding: 13px 35px;
                color: #ffffff;
                font-size: 11px;
                font-weight: 700;
                font-family: $rw;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                font-size: 14px;
                @include transition;
                &:hover {
                    background-color: darken($teal, 15%)
                }
            }
        }
        @media screen and (max-width: 991px) {
            padding: 0;
        }
        @media screen and (max-width: 767px) {
            form {
                input {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .about-bg-gray {
        background-color: #f9f9f9;
        border: 1px solid #EFEFEF;
        &.about-background-nonbd {
            border: none;
        }
    }
    .about-us-user {
        .user-section-header {
            .user-section-icon {
                background-color: #f9f9f9;
                @include border-radius(50%);
            }
        }
        .user-content {
            .user-position {
                font-size: 13px;
            }
        }
    }
    .about-us-subcribe {
        h1 {
            padding: 10px;
            color: #fff;
            font-size: 40px;
            font-weight: 800;
            font-family: $rw;
            line-height: 50px;
            letter-spacing: 0;
            margin-bottom: 5px;
        }
        p {
            position: relative;
            color: #fff;
            font-family: $os;
        }
        a.btn {
            background-color: $teal;
            border: 2px solid $teal;
            border-width: 2px;
            padding:  12px 45px;
            display: inline-block;
            color: #fff;
            font-size: 14px;
            font-weight: 800;
            font-family: $rw;
            letter-spacing: 0.14em;
            @include border-radius(0);
            line-height: 23px;
            &:hover {
                background-color: transparent;
            }
        }
    }
    .about-us-counter {
        .counter.counter-1 {
            .counter-item {
                border-right-color: #F1F1F1;
            }
            .sppb-animated-icon {
                color: $teal;
            }
            .sppb-animated-number {
                color: #494949;
            }
            h4 {
                color: #494949;
            }

        }
    }
}