#blog {
    .post-vertical-2 {
        margin-bottom: 50px;
        .post-footer {
            position: relative;
            padding-bottom: 75px;
            border-bottom: 1px solid #eee;
            &:after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 50%;
                height: 1px;
                background-color: #eee;
            }
        }
        &.post-single {
            .post-footer {
                border: none;
                &:after {
                    display: none;
                }
            }
        }
    }
    .blog-post {
        padding-right: 30px;
        border-right: 1px solid #eee;
        &.blog-post-no-border {
            padding-right: 0;
            border-right: none;
        }
    }
    .blog-content-left {
        .blog-post {
            padding-left: 30px;
            padding-right: 0;
            border-left: 1px solid #eee;
            border-right: none;
        }
    }
    .blog-content-none {
        .blog-post {
            border: none;
            padding-right: none;
            .post-vertical-2 {
                .post-thumbnail {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .post-separator {
        display: inline-block;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #eee;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blog-masonry {
         .post-vertical-grid {
            margin-bottom: 50px;
         }
    }
    @media screen and (max-width: 991px) {
        .blog-post {
            padding-right: 0;
            border-right: 0;
        }
    }
}