#our-services {
    .our-service-cta {
        h4 {
            font-size: 22px;
        }
        .btn-transparent {
            border-color: #fff;
            &:hover {
                color: $teal;
            }
        }
    }
    .section-pricing-table {
        .section-pricing-table-header {
            margin-bottom: 60px;
            text-align: center;
            position: relative;
            .section-pricing-table-icon {
                display: inline-block;
                margin-bottom: 20px;
                width: 80px;
                height: 80px;
                position: relative;
                background-color: #fff;
                @include border-radius(50%);

                i {
                    @include centered;
                    font-size: 30px;
                    color: #333;
                }
            }
            h4 {
                color: #333;
                font-size: 30px;
                font-weight: 400;
                font-family: $rw;
                line-height: 1.25em;
                letter-spacing: 0px;
                margin-bottom: 10px;
            }
            p {
                color: #797979;
            }
        }
    }
    .icon-box-intro {
        .icon-box-intro-header {
            margin-bottom: 60px;
            text-align: center;
            position: relative;
            .icon-box-intro-icon {
                display: inline-block;
                margin-bottom: 20px;
                width: 80px;
                height: 80px;
                position: relative;
                background-color: #f9f9f9;
                @include border-radius(50%);

                i {
                    @include centered;
                    font-size: 40px;
                    color: #333;
                }
            }
            h4 {
                color: #333;
                font-size: 30px;
                font-weight: 400;
                font-family: $rw;
                line-height: 1.25em;
                letter-spacing: 0px;
                margin-bottom: 10px;
            }
            p {
                color: #797979;
            }
        }
        .icon-box-type-3 {
            .icon-box-header {
                .icon-box-icon {
                    background-color: #f4f4f4;
                    i {
                        color: #797979;
                        font-size: 30px;
                    }

                }
            }
            .icon-box-content {
                // text-align: left;
                .icon-box-title {
                    color: #212121;
                    font-size: 16px;
                }
                p {
                    font-size: 13px;
                }
            }
            &.icon-box-type-3-inverse {

            }
            &:hover {
                .icon-box-header {
                    .icon-box-icon {
                        background-color: $teal;
                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            .icon-box-intro-image {
                text-align: left;
            }
        }
    }
    .section-testimonial-our-service {
        &:before {
            background-color: #f5f5f5;
        }
        .testimonial {
            .testimonial-content {
                p {
                    color: #797979;
                }
            }
            .testimonial-footer {
                .author {
                    .author-content {
                        p {
                            color: #797979;
                            font-style: italic;
                        }
                        .author-name {
                            font-style: normal;
                            color: #212121;
                        }
                    }
                }
            }
        }
        .owl-controls {

            .owl-dots {
                @include centered;
                z-index: 30;

                .owl-dot {
                    width: 6px;
                    height: 6px;
                    @include border-radius(50%);
                    background-color: rgba(#7A7A7A, 0.5);
                    display: inline-block;
                    margin: 0 10px;

                    &.active {
                        background-color: #7A7A7A;
                    }
                }
            }
        }
    }
    .call-to-action-our-service {
        h4 {
            color: #fff;
            font-size: 22px;
            font-weight: 700;
            font-family: $rw;
            line-height: 1.8em;
            text-align: right;
        }
        .action-button {
            a {
                border-color: #fff;
                &:hover {
                    background-color: #fff;
                    color: $teal;
                }
            }
        }
        @media screen and (max-width: 767px)  {
            .action-button {
                display: inline-block;
                width: 100%;
                text-align: left;
            }
        }
    }
}