// restaurant title
.restaurant-header {
    h3 {
        position: relative;
        display: inline-block;
        font-family: $gv;
        font-size: 40px;
        font-weight: 500;
        color: #fff;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 120px;
            height: 1px;
            background-color: #fff;
            z-index: 30;
        }
        &:before {
            left: calc(100% + 25px);
        }
        &:after {
            right: calc(100% + 25px);
        }
        &.large {
            font-size: 50px;
        }
        &.dark {
            color: #212121;
            &:before, &:after {
                background-color: #212121;
            }
        }
    }
    h4 {
        font-family: $rs;
        text-transform: uppercase;
        color: #D8A324;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.1em;
        letter-spacing: 1px;
    }
    &.restaurant-header {
        h3 {
            font-size: 40px;
        }
        p {
            position: relative;
            color: #fff;
            font-size: 22px;
            font-weight: 400;
            font-family: $rs;
            line-height: 40px;
            letter-spacing: 1px;
            margin-bottom: 0px;
            span {
                color: $yellow;
            }
        }
    }
    @media screen and (max-width: 768px) {
        h3 {
            &:before, &:after {
                display: none;
            }
        }
    }
}
.restaurant-menu {
    margin-bottom: 30px;
    .menu-header {
        margin-bottom: 20px;
        h3 {
            color: #212121;
            font-size: 40px;
            font-weight: 400;
            font-family: $gv;
            line-height: 55px;
            margin-bottom: 15px;
        }
    }
    .menu-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .item {
        position: relative;
        padding: 20px 0;
        padding-right: 100px;
        border-bottom: 1px solid #EBEBEB;
        .item-title {
            color: #212121;
            font-size: 22px;
            font-weight: 700;
            font-family: $rs;
            line-height: 26px;
            margin-bottom: 5px;
        }
        .item-description {
            color: #aaa;
            font-size: 14px;
            font-weight: 600;
            font-family: $rs;
            line-height: 23px;
            margin-bottom: 0px;
            margin-top: 0;
        }
        .item-price {
            position: absolute;
            top: 20px;
            right: 0;
            color: rgb(216, 163, 36);
            font-size: 20px;
            font-weight: 900;
            font-family: $rs;
            padding: 0;
        }
    }
    &.small {
        .item {
            .item-title {
                font-size: 16px;
            }
            .item-description {
                font-size: 12px;
            }
            .item-price {
                font-size: 16px;
            }
        }
    }
}
.restaurant-chief {
    .info-box-thumbnail {
        margin-top: -50px;
    }
    @media screen and (max-width: 991px) {
        .info-box-thumbnail {
            margin-top: 0;
        }
    }
}
.restaurant-event {
    .event-content {
        margin-top: 40px;
        padding: 20px;
        position: relative;
        background-color: #fff;
        border: 5px solid #E4E4E4;
    }
    .event-title {
        color: #3d3d3d;
        font-size: 24px;
        font-weight: 700;
        font-family: $rs;
        line-height: 40px;
        margin-bottom: 10px;
        &.event-hightlight {
            color: #d8a324;
        }
    }
    p {
        color: #797979;
        font-size: 16px;
        font-weight: 400;
        font-family: $rs;
        margin-bottom: 28px;
    }
    .btn-book-event {
        padding: 16px 40px;
        background-color: #d8a324;
        color: #fff;
        font-family: $rs;
        font-size: 16px;
        border: 2px solid #BC8E21;
        @include border-radius(0);
        &:hover {
            background-color: lighten(#d8a324, 7%)
        }
    }
}
.restaurant-reservation {
    .reservation {

        h3 {
            text-align: center;
            color: #212121;
            font-size: 26px;
            font-weight: 900;
            font-family: $rs;
            line-height: 25px;
            letter-spacing: 2px;
            margin-bottom: 30px;
        }
    }
    form {
        background-color: #f9f9f9;
        padding: 35px 30px;
    }
    label {
        color: #797979;
        font-size: 14px;
        font-family: $rs;
        font-weight: 400;
    }
    .form-control {
        background-color: transparent;
        height: 28px;
        font-size: 11px;
        outline: none !important;
        padding: 0 10px;
        @include border-radius(0);
    }
    .btn-submit {
        width: 100%;
        @include border-radius(0);
        background-color: #212121;
        border-color: #212121;
        color: #fff;
        @include transition(all 0.4s ease);
        &:hover {
            border-color: $yellow;
            background-color: $yellow;
        }
    }
}
.reservation-contact {
    h3 {
        color: #212121;
        font-size: 27px;
        font-weight: 700;
        font-family: Roboto Slab;
        line-height: 25px;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    p {
        color: #797979;
        font-size: 16px;
        font-weight: 600;
        font-family: $rs;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.restaurant-chief {
    .user-type-2 {
        .user-content {
            .user-name {
                font-family: $rs;
            }
            .user-position {
                color: #B1B1B1;
                font-family: $rs;
                font-size: 14px;
            }
        }
    }
}
.restaurant-testimonial {
    .testimonial {
        .testimonial-content {
            padding: 0 50px;
            p {
                font-family: $rs;
                font-size: 24px;
            }
        }
    }
}
.icon-box-restaurant {
    .icon-box-title {
        h4 {
            font-family: $rs;
            font-size: 20px;
            i {
                color: $yellow;
            }
        }
    }
    .icon-box-content {
        p {
            color: #797979;
            font-size: 16px;
            font-weight: 400;
            font-family: $rs;
            line-height: 30px;
            margin-bottom: 0px;
        }
    }
}
.restaurant-icon-box {
    .icon-box-icon {
        background-color: $yellow !important;
    }
    .icon-box-content {
        p {
            font-family: $rs !important;
            font-size: 16px !important;
        }
    }
}