.shop-section {
    .section-header {
        h5 {
            color: $yellow;
            font-size: 16px;
            font-weight: 700;
            font-family: $av;
            line-height: 23px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        h3 {
            display: inline-block;
            padding: 0 25px;
            position: relative;
            color: #403c34;
            font-size: 24px;
            font-weight: 700;
            font-family: $av;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 10px;
            &:before, &:after {
                content: '';
                position: absolute;
                top: 50%;
                background-color: #403c34;
                width: 125px;
                height: 1px;
                z-index: 10;
            }
            &:before {
                left: 100%;
            }
            &:after {
                right: 100%;
            }
        }
    }
}
.shop-blog {
    .section-header {
        h5 {
            color: $yellow;
            font-size: 16px;
            font-weight: 700;
            font-family: $av;
            line-height: 23px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        h3 {
            display: inline-block;
            padding: 0 25px;
            position: relative;
            color: #403c34;
            font-size: 24px;
            font-weight: 700;
            font-family: $av;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 10px;
            &:before, &:after {
                content: '';
                position: absolute;
                top: 50%;
                background-color: #403c34;
                width: 125px;
                height: 1px;
                z-index: 10;
            }
            &:before {
                left: 100%;
            }
            &:after {
                right: 100%;
            }
        }
    }
    .post-vertical {
        padding: 20px;
        background-color: #fff;
        .post-title {
            font-family: $av;
            &:hover {
                a {
                    color: $yellow;
                }
            }
        }
        .post-meta {
            .post-author {
                a {
                    color: $yellow;
                }
            }
            a {
                &:hover {
                    color: $yellow;
                }
            }
        }
        .post-content {
            p {
                font-family: $lt;
            }
        }
        .post-footer {
            .post-readmore {
                font-family: $av;
                letter-spacing: 0.05em;
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}