.post-portfolio {
    .post-title {
        font-size: 24px;
        color: #212121;
        margin-bottom: 10px;
        font-family: $rw;
        font-weight: 700;
    }
    .post-meta {
        span {
            margin-right: 20px;
            color: #797979;
            i {
                margin-right: 10px;
            }
        }
    }
    p {
        font-family: $os;
        font-size: 14px;
        color: #797979;
    }
    .info-project {
        .info-client {
            border-bottom: 1px solid #D8D8D8;
            padding: 5px 0;
            font-family: $os;
            span {
                margin-left: 30px;
            }
            i {
                margin-right: 10px;
            }
            a {
                color: $teal;
            }
        }
    }
    .post-footer {
        .btn-portfolio-visit {
            @include border-radius(0);
            border: 2px solid #797979;
            &:hover {
                background-color: $teal;
                border-color: $teal;
                color: #fff;
            }
        }
        .post-social-sharing {
            position: relative;
            color: #797979;
            font-family: $os;
            margin-top: 5px;
            .share-button {
                position: absolute;
                left: 50%;
                bottom: 100%;
                width: 120px;
                z-index: 90;
                @include transform(translate(-50%, -50%));
                @include transition(all 0.4s ease);
                opacity: 0;
                visibility: hidden;
                li {
                    display: inline-block;
                    width: 40px;
                    height: 30px;
                    float: left;
                    padding: 15px 20px;
                    position: relative;
                    a {
                        color: #fff;
                        i {
                            @include centered;
                        }
                    }
                    &.social-facebook {
                        background-color: #3b5998;
                    }
                    &.social-google {
                        background-color: #44ccf6;
                    }
                    &.social-twitter {
                        background-color: #d13f2d;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    @include transform(translateX(-50%));
                    @include triangle(15px, #44ccf6, down);
                }
            }
            &:hover {
                .share-button {
                    opacity: 1;
                    visibility: visible;
                    @include transform(translate(-50%, 0));
                }
            }
        }
    }
    .post-content {
        margin-bottom: 40px;
    }
    .post-portfolio-image {
        &.carousel {
            .owl-controls {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .owl-nav {
                position: absolute;
                width: 100%;
                height: 25px;
                background: rgba(#000, 0);
                z-index: 30;
                top: 50%;
                left: 0;
                @include transform(translateY(-50%));

                .owl-prev, .owl-next {
                    position: absolute;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    background-color: #eee;
                    z-index: 30;
                    background-color: #212121;
                    @include transition(all 0.4s ease);
                    visibility: hidden;
                    opacity: 0;
                    span {
                        display: inline-block;
                        @include centered;
                        color: #fff;
                        z-index: 40;
                        font-size: 18px;
                        line-height: 1em;
                        @include transition;
                    }
                    &:hover {
                        background-color: $teal;
                    }
                }
                .owl-prev {
                    left: 20px;
                    @include transform(translateX(-20px));
                }
                .owl-next {
                    right: 20px;
                    @include transform(translateX(20px));
                }
            }
            &:hover {
                .owl-prev, .owl-next {
                    @include transform(translateX(0));
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
.post-comment {
    .post-comment-header {
        h3 {
            font-size: 16px;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $rw;
            color: #212121;
            a {
                color: $teal;
            }
        }
    }
    .comment-block {
        position: relative;
        border: 1px solid #eee;
        .author-avatar {
            position: absolute;
            top: 30px;
            left: -30px;
            width: 65px;
            height: 65px;
            img {
                padding: 3px;
                @include border-radius(50%);
                border: 1px solid #e7e7e7;
            }
        }
        .comment-block-header {
            background-color: #f1f1f1;
            padding: 7px 20px 7px 40px;
            h4 {
                margin-bottom: 0;
                color: $teal;
                font-size: 14px;
                font-family: $rw;
                font-weight: 700;
                margin-top: 3px;
            }
            .comment-created {
                font-family: $os;
            }
        }
        .comment-content {
            padding: 10px 20px 25px 40px;
        }
        .reply-comment {
            font-weight: 600;
            background: none;
            text-align: center;
            text-transform: uppercase;
            padding: 2px 15px;
            border: 2px solid #d2d2d2;
            margin: 0 auto;
            font-size: 11px;
            line-height: 1.4em;
            color: #797979;
            @include border-radius(0);
            &:hover {
                color: #fff;
                background-color: $teal;
                border-color: $teal;
            }
        }
    }
    .leave-comment {
        h4 {
            font-size: 16px;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 700;
            color: #212121;
            font-family: $rw;
        }
        p {
            margin-top: 0;
            font-family: $os;
            margin-bottom: 20px;
        }
        .reply-form {
            .form-control {
                @include border-radius(0);
                font-family: $os;
                padding: 10px 20px;
                font-size: 14px;
                height: 40px;
                line-height: 24px;
            }
            textarea {
                height: auto !important;
            }
            .btn-replay-submit {
                background-color: #fff;
                color: #212121;
                @include border-radius(0);
                font-family: $rw;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.2em;
                border: 2px solid #212121;
                padding: 15px 20px;
                @include transition(all 0.4s ease);
                &:hover {
                    color: #fff;
                    background-color: $teal;
                    border-color: $teal;
                }
            }
        }
    }
    &.blue {
        .post-comment-header {
            a {
                color: $blue;
            }
        }
        .comment-block {
            a {
                color: $blue;
            }
        }
        .leave-comment {
            .btn-replay-submit {
                &:hover {
                    background-color: $blue;
                    border-color: $blue;
                }
            }
        }
    }
    &.yellow {
        .post-comment-header {
            font-family: $rs;
            a {
                font-family: $rs;
                color: $yellow;
            }
        }
        .comment-block {
            .reply-comment {
                &:hover {
                    background-color: $yellow;
                    border-color: $yellow;
                }
            }
            p {
                font-family: $rs;
            }
            a {
                font-family: $rs;
                color: $yellow;
            }
        }
        .leave-comment {
            h4 {
                font-family: $rs;
            }
            p {
                font-family: $rs;
            }
            .form-control {
                font-family: $rs;
            }
            .btn-replay-submit {
                font-family: $rs;
                &:hover {
                    background-color: $yellow;
                    border-color: $yellow;
                }
            }
        }
    }
    &.green {
        .post-comment-header {
            font-family: $rw;
            a {
                font-family: $rw;
                color: $green;
            }
        }
        .comment-block {
            .reply-comment {
                &:hover {
                    background-color: $green;
                    border-color: $green;
                }
            }
            p {
                font-family: $lt;
            }
            a {
                font-family: $lt;
                color: $green;
            }
        }
        .leave-comment {
            h4 {
                font-family: $rs;
            }
            p {
                font-family: $rs;
            }
            .form-control {
                font-family: $rs;
            }
            .btn-replay-submit {
                font-family: $rs;
                &:hover {
                    background-color: $green;
                    border-color: $green;
                }
            }
        }
    }
}