$dark: #222222;
$headingColor: #212121;
$rw: 'Raleway', sans-serif;
$os: 'Open Sans', sans-serif;
$lt: 'Lato', sans-serif;
$gv: 'Great Vibes', cursive;
$rs: 'Roboto Slab', serif;
$js: 'Josefin Sans', sans-serif;
$av:  'Arvo', serif;
$black: #212121;
$teal: #00BAD0;
$gray: #eee;
$lightgray: #f3f3f3;
$cyan: #00BAD0;
$blue: #2986E2;
$yellow: #d8a324;
$green: #50BC54;
