.counter {
    .counter-header {
        .btn {
            margin-top: 10px;
            @include border-radius(0);
            background-color: transparent;
            border: 2px solid #797979;
            font-size: 12px;
            letter-spacing: 0.2em;
            color: #797979;

            &:hover {
                background-color: $teal;
                border-color: $teal;
                color: #fff;
            }
            &.btn-revserve {
                padding: 10px 50px;
                color: #212121;
                border-color: #212121;
                background-color: transparent;
                border-width: 2px;
                line-height: 20px;

                &:hover {
                    color: #fff;
                }
            }
        }
        h3 {
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            font-family: $rw;
            line-height: 1.3em;
            letter-spacing: 0;
            margin-bottom: 20px;
        }
        p {
            color: #797979;
            font-family: $os;
            line-height: 1.8em;

            strong {
                color: #E4E4E4;
            }
        }
    }
    .counter-item {
        padding: 40px 0;
        float: left;
        text-align: center;
        width: calc(100% / 3);
        color: #fff;
        background-color: #0F1012;

        .sppb-animated-number {
            color: $teal;
            font-size: 40px;
            font-weight: 600;
            font-family: $lt;
            line-height: 45px;
            margin-bottom: 0px;
        }
        h4 {
            color: #ccc;
            font-size: 14px;
            font-weight: 700;
            font-family: $rw;
            line-height: 40px;
            letter-spacing: 1px;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        &.counter-item-light {
            background-color: transparent;
        }
        &.counter-item-2 {
            border-right: 1px solid #02A2B5;

            @media screen and (max-width:991px) {
                border: none;
            }
        }
        @media screen and (max-width:767px) {
            width: calc(50% - 1px);
            background-color: transparent;
            margin-bottom: 1px;
            margin-right: 1px;
        }
    }
    &.counter-1 {
        .counter-item {
            width: 100%;
            background-color: transparent;

            .sppb-animated-icon {
                font-size: 60px;
                color: #fff;
            }
            .sppb-animated-number {
                color: #fff;
            }
        }
        &.counter-1-2 {
            .sppb-animated-number {
                margin-top: 10px;
                font-size: 60px;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .counter-item {
                h4 {
                    color: #fff;
                }
            }
        }
        &.counter-1-3 {
            .counter-item {
                h4 {
                    color: #fff;
                }
            }
        }
        &.counter-1-4 {
            .counter-item {
                .sppb-animated-icon {
                    i {
                        color: #2986E2;
                    }
                }
                h4 {
                    color: #fff;
                }
            }
        }
    }
    @media screen and (max-width:991px) {
        .counter-header {
            margin-bottom: 40px;
        }
    }
}