.house {
    margin-bottom: 30px;
    .house-thumbnail {
        margin-bottom: 25px;
    }
    .house-content {
        .house-title {
            margin-bottom: 10px;
            font-family: $rw;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.3em;
        }
        p {
            font-family: $lt;
            line-height: 1.6em;
            color: #999;
        }
        .btn {
            padding: 12px 30px;
            border-width: 0px;
            i {
                margin-right: 5px;
            }
            &:last-child {
                margin-left: 25px;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        .house-content {
            .btn {
                margin-bottom: 15px;
                display: inline-block;
                width: auto;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        text-align: center;
        .house-content {
            .btn {
                width: auto;
            }
        }
    }
}
