.info-box-type-1 {
    .info-box-thumbnail {
        margin-bottom: 25px;
    }
    .info-box-content {
        .info-box-title {
            color: #212121;
            font-size: 20px;
            font-weight: 700;
            font-family: $rw;
            line-height: 0.8em;
        }
        p {
            color: #999;
            font-family: $os;
            line-height: 1.8em;
            margin-bottom: 20px;
        }
        .btn-readmore {
            @include border-radius(0);
            color: #212121;
            font-family: $rw;
            font-size: 11px;
            padding: 13px 16px;
            font-weight: 600;
        }
    }
    @media screen and (max-width:991px) {
        .info-box-thumbnail {
            text-align: center;
        }
    }
}
.info-box-type-2 {
    .info-box-content {
        margin-top: 50px;

        .info-box-title {
            position: relative;
            display: inline-block;
            font-family: $gv;
            font-size: 40px;
            font-weight: 500;
            color: #444;

            &:before, &:after {
                content: '';
                position: absolute;
                top: 50%;
                width: 120px;
                height: 1px;
                background-color: #444;
                z-index: 30;
            }
            &:before {
                left: calc(100% + 25px);
            }
            &:after {
                right: calc(100% + 25px);
            }
        }
        .sub-heading {
            font-family: $rs;
            text-transform: uppercase;
            color: #D8A324;
            font-weight: 800;
            font-size: 20px;
            line-height: 1.1em;
            letter-spacing: 1px;
        }
        p {
            font-family: $rs;
            color: #797979;
            font-size: 16px;
            line-height: 2.1em;
            margin-bottom: 30px;
        }
        .btn-readmore {
            padding: 12px 40px;
            font-family: $rs;
            letter-spacing: 5px;
            line-height: 23px;
            @include border-radius(0);
            border-width: 2px;
            background-color: #D8A324;
            border-color: #BC8E21;

            &:hover {
                background-color: #EDB328;
            }
        }
    }
    @media screen and (max-width:991px) {
        .info-box-content {
            margin-bottom: 50px;

            .info-box-title {
                &:before, &:after {
                    display: none;
                }
            }
        }
    }
}
.info-box-type-3 {
    position: relative;

    .info-box-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 10;

        img {
            display: none;
        }
    }
    .info-box-content {
        float: right;
        width: 50%;
        padding: 100px 50px;
        background-color: #f5f5f5;

        .info-box-title {
            padding: 10px 0;
            color: #212121;
            font-size: 30px;
            font-family: $rw;
            line-height: 1.3em;
            letter-spacing: 0px;
        }
        h5 {
            color: #797979;
            font-size: 14px;
            font-weight: 700;
            font-family: $os;
            line-height: 0.8empx;
            padding-bottom: 20px;
            margin-bottom: 30px;

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 170px;
                height: 4px;
                background-color: #ccc;
            }
        }
        p {
            color: #797979;
            font-size: 14px;
            font-weight: 400;
            font-family: $os;
            line-height: 1.8em;
        }
        .btn {
            margin-top: 10px;
            @include border-radius(0);

            &:hover {
                background-color: $teal;
                border-color: $teal;
            }
            &.btn-small {
                font-size: 12px;
                font-family: $rw;
                padding: 10px 30px;
            }
        }
        .btn-revserve {
            padding: 10px 50px;
            color: #212121;
            border-color: #212121;
            background-color: transparent;
            border-width: 2px;
            line-height: 20px;

            &:hover {
                color: #fff;
            }
        }
    }
    &.info-box-reserve {
        .info-box-thumbnail {
            right: 0;
            left: auto;
        }
        .info-box-content {
            float: left;
        }
    }
    @media screen and (max-width:991px) {
        .info-box-thumbnail {
            position: relative;
            width: 100%;
            background-image: none !important;

            img {
                display: block;
            }
        }
        .info-box-content {
            padding: 50px 30px;
            width: 100%;
        }
    }
    @media screen and (max-width:480px) {
        .info-box-content {
            padding: 30px 20px;
        }
    }
}
.info-box-type-4 {
    .info-box-thumbnail {
        width: 60%;
        float: left;
    }
    .info-box-content {
        width: 40%;
        float: left;
        padding: 20px 40px 20px 20px;

        h3 {
            color: #212121;
            font-size: 30px;
            font-weight: 400;
            font-family: $rw;
            line-height: 25px;
            letter-spacing: 0;
            margin-bottom: 26px;
        }
        p {
            strong {
                color: #aaa;
            }
        }
        .info-list {
            list-style: none;

            li {
                color: #797979;
                margin-bottom: 10px;

                &:before {
                    content: "\f006";
                    margin-right: 10px;
                    font-family: FontAwesome;
                    font-size: 22px;
                    color: $teal;
                }
            }
        }
    }
    .btn {
        margin-top: 10px;
        @include border-radius(0);
        border: 2px solid #000;
        &:hover {
            background-color: $teal;
            border-color: $teal;
        }
    }
    .btn-revserve {
        padding: 10px 50px;
        color: #212121;
        border-color: #212121;
        background-color: transparent;
        border-width: 2px;
        line-height: 20px;

        &:hover {
            color: #fff;
        }
    }
    &.info-box-type-4-1 {
        .info-box-thumbnail, .info-box-content {
            width: 50%;
        }
        .info-box-thumbnail {
            img {
                margin-top: -50px;
            }
        }
        .info-box-content {
            padding-top: 100px;
            margin-bottom: 40px;
        }
    }
    &.info-box-type-4-2 {
        .info-box-thumbnail, .info-box-content {
            width: 100%;
        }
        .btn {
            font-size: 12px;
            letter-spacing: 0.1em;
        }
    }
    @media screen and (max-width:991px) {
        .info-box-thumbnail, .info-box-content {
            width: 100%;
            padding: 0 15px;

            img {
                width: 100%;
            }
        }
        .info-box-thumbnail {
            margin-bottom: 30px;
        }
        &.info-box-type-4-1 {
            .info-box-thumbnail, .info-box-content {
                width: 100%;
                padding: 0 15px;
                text-align: center;

                img {
                    margin-top: 0;
                    width: auto;
                    margin: 0 auto;
                }
            }
            .info-box-thumbnail {
                margin-bottom: 30px;
            }
            .info-box-content {
                padding-top: 50px;
            }
        }
    }
}
.info-box-type-5 {
    .info-box-header {
        margin-bottom: 30px;
        h3 {
            color: #212121;
            font-size: 30px;
            font-weight: 400;
            font-family: $rw;
            line-height: 25px;
            letter-spacing: 0;
            margin-bottom: 26px;
        }
    }
    .info-box-content {
        h3 {
            background: rgba(255, 255, 255, 0);
            color: #212121;
            font-size: 22px;
            line-height: 24px;
            font-weight: 600;
            font-family: $rw;
            letter-spacing: 0.1em;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 1.5em;
            color: #797979;
            font-family: $os;
        }
    }
    &.info-box-type-5-dark {
        background-color: #323232;
        .info-box-header {
            .info-box-icon {
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;
                @include border-radius(50%);
                background-color: #595959;
                i {
                    @include centered;
                    font-size: 40px;
                    color: #fff;
                }
            }
            h3 {
                color: #fff;
                font-size: 30px;
                font-weight: 400;
                font-family: $rw;
                line-height: 1.3em;
                letter-spacing: 0;
                margin-bottom: 10px;
            }
            p {
                color: #797979;
                font-size: 14px;
                font-weight: 400;
                font-family: $os;
                line-height: 1.8em;
                letter-spacing: 0;
                margin-bottom: 25px;
            }
        }
    }
}
.info-box-type-6 {
    .info-box-header {
        h3 {
            color: #212121;
            font-size: 30px;
            font-weight: 400;
            font-family: $rw;
            line-height: 40px;
            margin-bottom: 20px;
        }
        p {
            color: #797979;
            font-size: 14px;
            font-weight: 400;
            font-family: $os;
            letter-spacing: 0;
            line-height: 26px;
        }
    }
    .pie-chart {
        .percent {
            color: #212121 !important;
        }
    }
    .pie-chart-item {
        h4 {
            font-size: 14px;
            color: #212121;
        }
    }
}