.navigation {
    border-bottom: 1px solid rgba(#fff, 0.2em);

    .logo {
        position: relative;
        top: 20px;
        display: inline-block;
        img {
            width: 155px;
        }
    }
    .menu-toggle {
        display: none;
        width: 30px;
        height: 30px;
        float: right;
        background-color: $teal;
        margin: 25px 0 25px;
        position: relative;
        span {
            @include centered;
            width: 60%;
            height: 2px;
            display: block;
            margin: 0 auto;
            background-color: #fff;
            z-index: 100;
        }
        &:before, &:after {
            content: '';
            position: absolute;
            left: 50%;
            width: 60%;
            height: 2px;
            background-color: #fff;
            z-index: 100;
        }
        &:before {
            top: 50%;
            @include transform(translate(-50%, -400%));
        }
        &:after {
            bottom: 50%;
            @include transform(translate(-50%, 400%));
        }
    }
    // main menu
    .menu {
        margin-bottom: 0;
        float: right;

        > .menu-item {
            float: left;
            position: relative;

            &.has-children {
                &:before {
                    content: "\f107";
                    position: absolute;
                    top: 50%;
                    @include transform(translateY(-50%));
                    right: 0;
                    font-weight: 700;
                    font-family: FontAwesome;
                    color: #fff;
                }
            }
            > a {
                position: relative;
                display: block;
                padding: 30px 20px;
                font-family: $rw;
                font-weight: 800;
                font-size: 13px;
                line-height: 20px;
                color: #fff;
                text-transform: uppercase;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    width: 50%;
                    height: 2px;
                    background: #fff;
                    @include transition(all 0.4s ease);
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    color: $teal;

                    &:before {
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .menu-item {
        position: relative;
        .menu-item {
            border-bottom: 1px solid #2F2F2F;
            a {
                display: block;
                padding: 10px 15px;
                padding-left: 0;
                color: #797979;
                font-size: 11px;
                font-weight: 700;
                line-height: 14px;
                letter-spacing: 0.05em;

                &:hover {
                    color: $teal;
                }
                .new {
                    position: relative;
                    background-color: #f44336;
                    font-size: 11px;
                    text-transform: none;
                    color: #fff;
                    padding: 3px 5px;
                    margin-left: 10px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        @include transform(translate(-100%, -50%));
                        @include triangle(10px, #f44336, left);
                    }
                }
            }
            &:last-child {
                border-bottom-width: 0;
            }
        }
        > .sub-menu {
            position: absolute;
            top: 100%;
            visibility: hidden;
            opacity: 0;
            @include transform(translateY(40px));
            @include transition(all 0.8s ease);
        }
        .menu-dropdown {
            min-width: 200px;
            max-width: 500px;
            > .menu-item {
                background-color: #292929;
                padding: 0 20px;
                > .menu-dropdown {
                    top: 0;
                    left: 100%;
                    &.menu-dropdown-right {
                        top: 0;
                        right: 100%;
                        left: auto;
                    }
                }
            }
        }
        .menu-mega {
            width: 480px;
            background-color: #292929;
            .menu-mega-list {
                padding: 20px;
                li {
                    font-family: $rw;
                    &.list-header {
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 11px;
                        font-weight: 600;
                        padding-bottom: 15px;
                        letter-spacing: 0.1em;
                    }

                }
            }
        }
        &:hover {
            > .sub-menu {
                opacity: 1;
                visibility: visible;
                @include transform(translateY(0));
            }
        }
    }
    .back-btn {
        display: none;
    }
    &.navigation-medical {
        background-color: #fff;
        .menu-item {
            > a {
                color: #797979;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
    &.navigation-restaurant {
        .menu-item {
            > a {
                padding: 40px 20px;
                font-family: $rs;
                font-size: 14px;
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
    &.navigation-estate {
        .menu-toggle {
            background-color: $green;
        }
        .menu-item {
            > a {
                font-size: 13px;
                &:hover {
                    color: $green;
                }
            }
        }
    }
}
.navigation-mobile {
    position: relative;
    .menu-toggle {
        display: block;
    }
    .menu {
        position: absolute;
        top: 100%;
        right: 15px;
        z-index: 30;
        background-color: #292929;
        visibility: hidden;
        opacity: 0;
        @include transform(translateY(30px));
        &.menu-mobile-active {
            visibility: visible;
            opacity: 1;
            @include transform(translateY(0));
            @include transition(all 0.5s ease);
        }
        > .menu-item {
            float: none;
            display: block;
            min-width: 200px;
            background-color: #292929;
            text-align: right;
            a {
                padding: 10px 20px 10px 15px;
                background-color: #111;
                color: #999;
                font-weight: 400;
                line-height: 20px;
            }
            > a {
                background-color: #111;
                padding: 10px 20px;
                border-bottom: 1px solid #2F2F2F;
                font-size: 11px;
            }
            &:last-child {
                > a {
                    border-bottom-width: 0;
                }
            }
            &.has-children {
                &:before {
                    display: none;
                }

            }
        }
    }
    .menu-item {
        position: static !important;
        &.has-children {
            > a {
                position: relative;
                &:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    position: absolute;
                    right: 10px;
                    vertical-align: middle;
                }
            }
        }
        > .sub-menu {
            z-index: 100;
            right: 0;
            left: auto;
            top: 0%;
            @include transform(translateY(0));
            display: none;
        }
        .menu-dropdown {
            > .menu-item {
                padding: 0;
                > .menu-dropdown {
                    top: 0;
                    left: auto;
                    right: 0;
                    &.menu-dropdown-right {
                        top: 0;
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
        .menu-mega {
            width: 200px;
            .menu-mega-list {
                padding: 0;
                li {
                    font-family: $rw;
                    &.list-header {
                        padding-bottom: 10px;
                    }
                }
            }
            .list-header {
                padding: 10px 20px;
                margin-bottom: 0;
            }
            .mega-column {
                width: 100%;
            }
        }
        &:hover {
            > .sub-menu {
                opacity: 0;
                visibility: hidden;
                @include transform(translateY(0));
            }
        }
    }
    .sub-menu {
        position: relative !important;
    }
    .active {
        > .sub-menu {
            display: block !important;
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
    .back-btn {
        display: block;
        text-transform: uppercase;
    }
}
.navigation-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#F7F7EE, 1);
    z-index: 100;
    @include transition(all 0.6s ease);
    opacity: 0;
    visibility: hidden;

    .menu-close-fullscreen {
        position: absolute;
        top: 35px;
        right: 50px;
        display: inline-block;
        width: 35px;
        height: 25px;
        z-index: 10;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 100%;
            right: 0;
            height: 3px;
            background-color: #000;
            @include transition(all 0.45s ease);
        }
        &:before {
            @include transform(rotate(-45deg));
        }
        &:after {
            @include transform(rotate(45deg));
        }
        &:hover {
            cursor: pointer;
            @include transform-origin(center center);
        }
    }
    .menu-fullscreen {
        display: inline-block;
        @include centered;
        li {
            text-align: center;
            margin-bottom: 10px;
            visibility: hidden;
            opacity: 0;
            @include transform(translateY(50px));
            @include transition(all 0.4s ease);
            a {
                font-family: 'Josefin Sans', sans-serif;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 700;
                color: #212121;
                font-size: 32px;
                line-height: 54px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: calc(50% + 1px);
                    left: 0;
                    right: 0;
                    width: 0;
                    height: 1px;
                    margin: 0 auto;
                    background-color: #212121;
                    @include transition(all 0.4s ease);
                }
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }

    }
    &.navigation-active {
        opacity: 1;
        visibility: visible;
        .menu-fullscreen {
            li {
                visibility: visible;
                opacity: 1;
                @include transform(translateY(0));
                @for $i from 1 through 10 {
                    &.menu-item-#{$i} {
                        @include transition-delay(($i + 1s)/10);
                    }
                }
            }
        }
    }
}
.navigation-sidenav {
    .menu-fullscreen {
        li {
            a {
                display: block;
                width: 100%;
                padding: 0 40px;
                line-height: 50px;
                color: #212121;
                font-family: $rw;
                font-weight: 700;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                &:hover {
                    background-color: #f5f5f5;
                }
            }
            &.active {
                a {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}