.pricing-table {
    background-color: #fff;
    margin-bottom: 30px;

    .pricing-table-header {
        position: relative;
        text-align: center;
        padding: 30px 0 30px;

        h2 {
            position: relative;
            color: #212121;
            font-size: 30px;
            font-weight: 700;
            font-family: $rw;
            line-height: 0.8em;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 20px;

            &:before {
                content: '';
                position: absolute;
                bottom: -15px;
                left: 50%;
                @include transform(translateX(-50%));
                width: 75px;
                height: 3px;
                background-color: transparent;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
        }
        .pricing-badge {
            span {
                display: inline-block;
                position: absolute;
                top: 20px;
                left: 5px;
                color: #fff;
                z-index: 30;
                font-size: 20px;
                font-family: $rw;
                font-weight: 700;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                @include transform(rotate(-45deg));
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                @include triangle(90px 90px, #00D3EC, up-left);
            }
            &.pricing-badge-pink {
                &:after {
                    @include triangle(90px 90px, #EC006C, up-left);
                }
            }
        }
    }
    .pricing-table-content {
        .pricing-number {
            padding: 30px 0;

            .pricing-currency {
                color: #D3D3D3;
                font-size: 30px;
                font-weight: 600;
                font-family: $rw;
                line-height: 0.8em;
                letter-spacing: 1px;
            }
            .pricing-number {
                color: #212121;
                font-size: 80px;
                font-family: $rw;
                line-height: 24px;
            }
            .pricing-time {
                color: #7e7e7e;
                font-size: 24px;
                font-weight: 400;
                font-family: $rw;
                line-height: 24px;
                letter-spacing: 1px;
                position: relative;
                padding-left: 15px;

                &:after {
                    content: '/';
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
            }
        }
        .btn-pricing {
            margin: 5px 0 30px;
        }
        .pricing-table-option {
            margin: 0;
            list-style: none;

            li {
                padding: 20px 0;
                font-size: 14px;
                font-weight: 600;
                font-family: $rw;
                line-height: 18px;
                letter-spacing: 0px;
                text-transform: uppercase;

                &:nth-child(odd) {
                    background-color: #fafafa;
                }
            }
        }
    }
    &.pricing-table-hightlight {
        border: 5px solid #E6E6E6;
    }
}
.pricing-table-2 {
    margin-bottom: 40px;

    .pricing-table-header {
        background-color: #2b3d4e;
        padding: 30px 20px;
        position: relative;

        h2 {
            color: #fff;
            font-size: 30px;
            font-family: $rw;
            line-height: 1em;
            letter-spacing: 0;
            text-align: left;
            text-transform: uppercase;
        }
        p {
            margin: 0;
            color: #aaa;
            font-family: $rw;
        }
        .pricing-table-icon {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 30px;
            right: 10px;
            z-index: 10px;

            i {
                @include centered;
                font-size: 45px;
                color: #00BAD0;
            }
        }
    }
    .pricing-table-content {
        background-color: #1F2A35;
    }
    .pricing-table-option {
        list-style: none;

        li {
            padding: 20px 25px;
            border-bottom: 1px solid #273645;
            color: #fff;
            font-family: $os;
            font-size: 13px;

            span.value {
                font-weight: 700;
                color: #00BAD0;
            }
        }
    }
    .pricing-number {
        float: left;
        padding: 30px 25px;

        .pricing-currency {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            font-family: $os;
            line-height: 0.8em;
            letter-spacing: 1px;
        }
        .number {
            color: #fff;
            font-size: 50px;
            font-weight: 700;
            font-family: $os;
            line-height: 0.9em;
            letter-spacing: 1px;
        }
        .pricing-time {
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            font-family: Open Sans;
            line-height: 70px;
            letter-spacing: 0px;
            padding-left: 15px;

            &:before {
                content: '/';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .btn-pricing {
        float: right;
        margin-top: 40px;
        margin-right: 20px;
        border-width: 2px;
        font-size: 12px;
        padding: 10px 30px;
        font-family: $rw;
        @include border-radius(20px);
        background-color: transparent;
        line-height: 1.1em;

        &:hover {
            background-color: #00BAD0;
            border-color: #00BAD0;
        }
    }
    &.pricing-table-2-unlimited {
        .pricing-table-header {
            .pricing-table-icon {
                i {
                    color: #FFCD37;
                }
            }
        }
        .pricing-table-content {
            li {
                span.value {
                    color: #FFCD37;
                }
            }
        }
        .pricing-number {
            .number {
                color: #FFCD37;
            }
        }
        .btn-pricing {
            &:hover {
                background-color: #FFCD37;
                border-color: #FFCD37;
            }
        }
    }
    &.pricing-table-2-advance {
        .pricing-table-header {
            .pricing-table-icon {
                i {
                    color: #37FFBB;
                }
            }
        }
        .pricing-table-content {
            li {
                span.value {
                    color: #37FFBB;
                }
            }
        }
        .pricing-number {
            .number {
                color: #37FFBB;
            }
        }
        .btn-pricing {
            &:hover {
                background-color: #37FFBB;
                border-color: #37FFBB;
            }
        }
    }
    @media screen and (max-width:1199px) {
        .btn-pricing {
            margin: 20px 20px 40px;
            float: left;
        }
    }
    @media screen and (max-width:991px) {
        margin-top: 0 !important;

        .btn-pricing {
            margin-top: 40px;
            margin-right: 20px;
            float: right;
        }
    }
    @media screen and (max-width:420px) {
        .pricing-number {
            padding: 10px 20px;
        }
        .btn-pricing {
            margin: 20px 20px 40px;
            float: left;
        }
    }
}
.pricing-table-3 {
    .pricing-table-header {
        padding: 25px;

        h2 {
            color: #666;
            text-transform: uppercase;
            color: #666;
            font-size: 18px;
            font-weight: 700;
            font-family: $rs;
            margin-top: 0px;
            line-height: 1.45em;
            letter-spacing: 1px;
            text-align: center;
            margin-bottom: 0;
        }
    }
    .pricing-number {
        text-align: center;
        background-color: #373737;
        padding: 20px 0;

        .pricing-currency {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            font-family: $os;
            line-height: 0.8em;
            letter-spacing: 1px;
        }
        .number {
            color: #fff;
            font-size: 60px;
            font-weight: 500;
            font-family: $os;
            line-height: 0.9em;
            letter-spacing: 1px;
        }
        .pricing-time {
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            font-family: Open Sans;
            line-height: 1em;
            letter-spacing: 0px;
            padding-left: 15px;

            &:before {
                content: '/';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .pricing-table-option {
        list-style: none;
        text-align: center;

        li {
            padding: 15px 0;
            color: #666;
            text-transform: uppercase;
            font-family: $os;
            font-weight: 600;
            font-size: 12px;

            &:nth-child(even) {
                background-color: #373737;
            }
        }
    }
    .btn-pricing {
        @include border-radius(0);
        background-color: transparent;
        margin: 35px 0;
        border: 2px solid #666;
        @include border-radius(0);
        border-color: rgba(#fff, 0.6);
        margin-bottom: 35px;
        padidng: 12px 30px;
        font-size: 12px;
        font-weight: 700;
        font-family: $rw;
        letter-spacing: 1px;

        &:hover {
            background-color: #fff;
            color: #666;
            border-color: #fff;
        }
    }
    &.pricing-table-3-black {
        background-color: #333;
    }
    &.pricing-table-3-red {
        background-color: #E85444;
        .pricing-table-header {
            h2 {
                color: rgba(#fff, 0.6);
            }
        }
        .pricing-number {
            background-color: #D84C3C;
        }
        .pricing-table-option {
            li {
                color: rgba(#fff, 0.6);
                &:nth-child(even) {
                    background-color: #D84C3C;
                }
            }
        }
    }
    &.pricing-table-3-gold {
        background-color: #F3B562;
        .pricing-table-header {
            h2 {
                color: rgba(#fff, 0.6);
            }
        }
        .pricing-number {
            background-color: #E6AE64;
        }
        .pricing-table-option {
            li {
                color: rgba(#fff, 0.6);
                &:nth-child(even) {
                    background-color: #E6AE64;
                }
            }
        }
    }
    &.pricing-table-3-blue {
        background-color: #35A5DB;
        .pricing-table-header {
            h2 {
                color: rgba(#fff, 0.6);
            }
        }
        .pricing-number {
            background-color: #319DD1;
        }
        .pricing-table-option {
            li {
                color: rgba(#fff, 0.6);
                &:nth-child(even) {
                    background-color: #319DD1;
                }
            }
        }
    }
}
.pricing-table-4 {
    margin-bottom: 30px;
    .pricing-table-header {
        padding: 25px;
        background-color: #009CDC;
        h2 {
            margin-bottom: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            font-family: $rw;
            line-height: 24px;
            letter-spacing: 1px;
            text-align: center;
        }
    }
    .pricing-number {
        text-align: center;
        background-color: #00A1E4;
        padding: 30px 0;

        .pricing-currency {
            color: #fff;
            font-size: 25px;
            font-weight: 800;
            font-family: $rw;
            line-height: 0.9em;
            letter-spacing: 1px;
        }
        .number {
            color: #fff;
            font-size: 60px;
            font-weight: 500;
            font-family: $rs;
            line-height: 0.8em;
            letter-spacing: 1px;
        }
        .pricing-time {
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            font-family: $os;
            line-height: 1.2em;
            letter-spacing: 1px;
            padding-left: 15px;

            &:before {
                content: '/';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .pricing-table-option {
        list-style: none;
        text-align: center;
        margin-bottom: 0;
        li {
            padding: 20px 0;
            color: #797979;
            text-transform: uppercase;
            font-family: $os;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            background-color: #F6F6F6;
            &:nth-child(even) {
                background-color: #fff;
            }
        }
    }
    .btn-pricing {
        padding: 20px 10px;
        @include border-radius(0);
        background-color: #00A1E4;
        display: block;
        color: #ffffff;
        outline: none;
        font-size: 20px;
        line-height: 34px;
        font-weight: 700;
        font-family: $rw;
        letter-spacing: 1px;
        &:hover {
            background-color: #111;
        }
    }
    &.pricing-table-4-gold {
        .pricing-table-header {
          background-color: #DCB700;
        }
        .pricing-number, .btn-pricing  {
            background-color: #E4BE00;
        }
        .btn-pricing {
            &:hover {
                background-color: #111;
            }
        }
    }
    &.pricing-table-4-diamond {
        .pricing-table-header {
          background-color: #DC6E00;
        }
        .pricing-number, .btn-pricing  {
            background-color: #E47200;
        }
        .btn-pricing {
            &:hover {
                background-color: #111;
            }
        }
    }
    &.pricing-table-4-untimate {
        .pricing-table-header {
          background-color: #00C4DC;
        }
        .pricing-number, .btn-pricing  {
            background-color: #00CCE4;
        }
        .btn-pricing {
            &:hover {
                background-color: #111;
            }
        }
    }
}

