.social {
    position: relative;
    list-style: none;
    li {
        display: inline;
        a {

        }
    }
    &.social-circle {
        li {
            margin: 0 5px 10px 5px;
            display: inline-block;
            width: 40px;
            height: 40px;
            position: relative;
            @include border-radius(50%);
            background-color: #aaa;
            @include transition(all 0.3s ease);
            a {
                color: #fff;
                  @include centered;
                    font-size: 15px;
                    display: inline-block;
            }
            &:hover {
                background-color: #00B9CF;
            }
        }
        &.social-circle-blue {
            li {
                background-color: #00B9CF;
                &:hover {
                    background-color: #000;
                }
            }
        }
        &.social-simple {
            li {
                background-color: transparent;
                a {
                    font-size: 22px;
                }
                &:hover {
                    a {
                        color: #00B9CF;
                    }
                }
            }
        }
    }
}
