h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    position: relative;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;

    a {
        color: inherit;
    }
}

.h1, h1 {
    font-size: 35px;
}

.h2, h2 {
    font-size: 28px;
}

.h3, h3 {
    font-size: 22px;
}

.h4, h4 {
    font-size: 18px;
}

.h5, h5 {
    font-size: 16px;
}

.h6, h6 {
    font-size: 12px;
}

p {
    font-size: 14px;
    line-height: 1.667em;
    color: #999;
}

p.big {
    font-size: 20px;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;

    @include transition;
}

code, kbd, pre, samp {
    font-size: inherit;

    @include border-radius(0);
}

code {
    background-color: #eee;
}
ul, ol {
    padding: 0;
    list-style: none;
}
body {
    font-family: $os;
}
.text-heavy-bold {
    font-weight: 900 !important;
}
.text-light {
    color: #fff;
}
