.icon-box-2 {
    background-color: rgba(#000, 0.6);
}
.icon-box-3 {
    position: relative;

    .icon-box-3-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 10;

        img {
            display: none;
        }
    }
    .icon-box-3-content {
        padding: 80px 50px;
        float: right;
        width: 50%;
        background-color: #f7f7f7;
    }
    .icon-box-3-top {
        position: relative;
        padding: 5px 0 20px;
        margin-bottom: 30px;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 115px;
            height: 4px;
            background-color: #ccc;
            z-index: 10;
        }
        h3 {
            padding: 10px 0;
            font-family: $rw;
            font-size: 30px;
            line-height: 1.2em;
            color: $headingColor;
            margin-bottom: 0;
        }
        p {
            color: #797979;
            font-family: $os;
            line-height: 1.8em;
            font-weight: 700;
            margin: 0;
        }
    }
    @media screen and (max-width:991px) {
        .icon-box-3-thumbnail {
            position: relative;
            width: 100%;
            background-image: none !important;

            img {
                display: block;
            }
        }
        .icon-box-3-content {
            width: 100%;
        }
    }
    @media screen and (max-width:480px) {
        .icon-box-3-content {
            padding: 30px 20px;
        }
    }
}
.icon-box-4 {
    .icon-box-4-header {
        margin-bottom: 60px;

        .icon-box-4-icon {
            margin-bottom: 20px;

            i {
                font-size: 40px;
            }
        }
        h4 {
            color: #212121;
            font-size: 30px;
            font-weight: 400;
            font-family: $rw;
            line-height: 1.25em;
            letter-spacing: 0px;
            margin-bottom: 10px;
        }
        p {
            color: #797979;
        }
    }
}
.icon-box-5 {
    .icon-box-5-header {
        margin-bottom: 60px;
        text-align: center;
        position: relative;
        .icon-box-5-icon {
            display: inline-block;
            margin-bottom: 20px;
            width: 80px;
            height: 80px;
            position: relative;
            background-color: rgba(249, 249, 249, 0.2);
            @include border-radius(50%);

            i {
                @include centered;
                font-size: 35px;
                color: #fff;
            }
        }
        h4 {
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            font-family: $rw;
            line-height: 1.25em;
            letter-spacing: 0px;
            margin-bottom: 10px;
        }
        p {
            color: #fff;
        }
    }
}
.icon-box-6 {
    .icon-box-6-header {
        margin-bottom: 60px;
        text-align: center;

        .icon-box-6-icon {
            display: inline-block;
            margin-bottom: 20px;
            width: 80px;
            height: 80px;
            position: relative;
            @include border-radius(50%);

            i {
                @include centered;
                font-size: 40px;
                color: #212121;
            }
        }
        h4 {
            color: #212121;
            font-size: 30px;
            font-weight: 400;
            font-family:  $rw;
            line-height: 40px;
            letter-spacing: 0px;
            margin-bottom: 10px;
        }
        p {
            color: #797979;
            a {
                color: #00b9cf;
            }
        }
    }
    &.icon-box-6-medical {
        .icon-box-6-header {
            h4 {

                font-size: 38px;
                font-weight: 700;
                line-height: 0.8em;
                letter-spacing: 0;
                margin-bottom: 15px;
                color: #212121;
            }
            p {
                color: #797979;
                font-family: $lt;
                font-size: 20px;
            }
        }
    }
}
