.section {
    position: relative;
    padding: 40px 0;
}
.section-header {
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    .section-icon {
        display: inline-block;
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
        position: relative;
        background-color: #f9f9f9;
        @include border-radius(50%);

        i {
            @include centered;
            font-size: 40px;
            color: #333;
        }
        &.small {
            i {
                font-size: 30px;
            }
        }
    }
    h4 {
        color: #333;
        font-size: 30px;
        font-weight: 400;
        font-family: $rw;
        line-height: 1.25em;
        letter-spacing: 0px;
        margin-bottom: 10px;
    }
    p {
        color: #797979;
        span {
            color: $teal;
        }
    }
}
.section-dark {
    .section-header {
        .section-icon {
            background-color: rgba(#F9F9F9, 0.2);
            i {
                color: #fff;
            }
        }
        h4 {
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
}